<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>[(#{label.title})]</title>

	<!--  copied from www.getbootstrap.com starter example 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<script type="text/javascript" defer th:src="@{/js/script.js}"></script>
	
	<script>
	 // initialize the localized messages in script.js by assigning the message to a var.
	 //
		console.log('In SCRIPT');
		var confirmMsg = '[[#{label.confirm}]]';
		var deleteLabel = '[[#{label.delete}]]';
		console.log(confirmMsg);
	</script>
	
	<style type="text/css">
		.btn-delete {
			background-color: red;
		}
	</style>
	
	
</head>
<body>
	<div class="container">
	<h3>[(#{label.title})]</h3>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
  	ADMIN ROLE only see this...
	</div>
	<hr>
	
	<!-- Example of use of onClick to go to a URL -->
	<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" id="add">
		<!--  Use BootStrap CSS btn style on button -->
		<button th:title="#{label.add.employee}" class="btn btn-primary mb-3" onClick="window.location.href='showFormAdd'">[(#{label.add.employee})]</button>			
	</div>
	
	<div id="search">
	</div>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th th:text="#{label.first}"></th>
				<th th:text="#{label.last}"></th>
				<th th:text="#{label.email}"></th>
	
				<th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">[(#{label.action})]</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEmployee:${employees}">
				<td th:text="${tempEmployee.firstName}"/>
				<td th:text="${tempEmployee.lastName}"/>
				<td th:text="${tempEmployee.email}"/>
				
				<!--  Use BootStrap CSS btn style on <a href> -->
				<td>
				<span sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
					<a class="btn btn-info btn-sm" th:href="@{showFormUpdate(id=${tempEmployee.id},test=field)}">[(#{label.update})]</a>
				</span>
				<!--  <a class="btn btn-danger btn-sm" th:href="@{delete(id=${tempEmployee.id})}">[[#{label.delete}]]</a>
				-->
				<span sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="btn btn-danger btn-sm" th:href="@{delete(id=${tempEmployee.id})}" th:onclick="confirmDelete(event, '[[${tempEmployee.firstName}]]')">[[#{label.delete}]]</a>
				</span>
				</td>
				
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/logout}" method="POST" th:onSubmit="if (!confirm('[(#{label.confirm.logout})]')) return false">
		<input class="btn btn-primary btn-sm" type="submit" th:value="#{label.logout}" >
	</form>
	</div>
</body>
</html>