<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div class="container">
	
	<h3 class="text-primary">[(#{label.login})]</h3>
	<div class="row">
		<div class="col-xs-4" th:if="${param.error != null}">
			<p class="text-danger">The username and/or password is invalid.</p>
		</div>
		<div class="col-xs-4" th:if="${param.logout != null}">
			<p class="text-success">You are successfully logged out.</p>
		</div>
	</div>
	<hr>
	
	<form action="#" th:action="@{/authenticateTheUser}" method="POST">
		<input type="text" name="username" autofocus="autofocus" th:placeholder="#{label.username}">
		<input type="password" name="password" th:placeholder="#{label.password}">
		<input class="btn btn-primary btn-sm" type="submit" th:value="#{label.login}">
	</form>
</div>

</body>
</html>